html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
}
.content-container {
  padding-top: 10vh;
  flex-grow: 1;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400;
}

/* HEADER STYLES */
.header {
  z-index: 20;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #000;
}
.nav-links a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active {
  color: #2c81f7;
}
.header-nav > li:first-child a {
  color: #2c81f7;
}
.header-nav > li:first-child a:hover {
  color: #000;
}
.header-logo {
  box-sizing: border-box;
  display: block;
  height: 10vh;
  padding: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo img {
  height: 80%;
}
.header-logo:hover,
.header-logo:active {
  opacity: 0.5;
}

/* FOOTER STYLES */

.footer {
  padding: 8vh 0 5vh;
  text-align: center;
}
.footer img {
  width: 50px;
}
.footer h3 {
  padding-top: 1.5em;
  text-transform: uppercase;
}
.footer h3 span {
  color: #2c81f7;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}
.footer-nav a {
  color: #000;
}

/* HERO STYLES */
.full-hero h1{
  font-size: 32px;
  font-weight: bold;
  margin: auto;
  padding-top: 1em;
  text-align: center;
}
.full-hero img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
.full-hero h3 {
  font-size: 16px;
  font-weight: bold;
  margin: auto;
  padding-top: 1em;
  text-align: center;
}

/* SOCIAL STYLES */
.soc-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social {
  background: #2c81f7;
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1.7em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 1.5em;
}
.social:hover {
  background-color: #000;
  color: #fff;
}
.soc-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* NOW STYLES */

.now-headline h1 {
  font-size: 2.5vw;
  margin-left: 2em;
  padding-bottom: 1em;
}
.now-update {
  font-size: 1.5vw;
  line-height: 1.5;
  margin-left: 5em;
  margin-right: 5em;
}
.now-date {
  font-size: 1em;
  font-style: italic;
  margin-left: 4.5em;
  padding-top: 3em;
}


@media (max-width: 800px) {

  /*HEADER STYLES */
  .header-nav {
    padding: 2vh 1em 0 0;
  }
  .header-nav > li {
    margin-left: 0.25em;
  }
  .header-nav > li ~ li {
    padding-left: 0.25em;
  }
  .nav-links a {
    font-size: 3.25vw;
  }
  .header-logo {
    left: auto;
  }

   /*HERO STYLES */

  .full-hero h3 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
}
