<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robert Domingo NYC Data Analyst</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
  </head>
  <body>

    <h1>Robert Domingo, NYC Data Analyst and Programmer</h1>
    <img src="images/robert_masks4all_small.png" alt="Robert Domingo">
    <p>robertdomingo AT [DELETE THIS] protonmail DOT [DELETE THIS TOO] com</p>

    <p><a href="now/index.html" target="_blank" rel="noopener">
now</a></p>

    <p><a href="https://www.linkedin.com/in/robertdomingo/" target="_blank" rel="noopener">
linkedin</a></p>

    <p><a href="https://github.com/robdom" target="_blank" rel="noopener">
github</a></p>

    <p><a href="https://twitter.com/robert1domingo" target="_blank" rel="noopener">
twitter</a></p>

    <p>Last updated March 15, 2021</p>

  </body>
</html>
